body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(221, 153, 121);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
.a {
    text-align: center;
}
.c {
    height: 150px;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
}
.h1{
    display: flex;
    justify-content: center;
    border: 5px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.d{
    font-size: large;
    text-align: center;
}
.o{
    text-align: center;
    font-size: 50px;
}
ul{
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    font-size: 30px;
    margin-right: 29px;
}
.h2 {
    border: 5px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
}



